
<!-- <h1>Motelog Component</h1> -->
<table border="1" >
  <tbody>
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr *ngFor="let users of user">
    <td>{{users.username}}</td>
    <td>{{users.password}}</td>
    <th><button (click)="DeleteUser(users.id)">Delete User</button></th>
  </tr></tbody>
</table>


<h2 class="title">Diet Chart for Fat People</h2>
<ul class="diet-box">
<li>Breakfast: Oats + Green Tea</li>
<li>Lunch: Salad + Multigrain Roti</li>
<li>Dinner: Soup + Vegetables</li>
</ul>