<div class="carousel-wrap" (mouseenter)="stop()" (mouseleave)="start()">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let img of images; let i = index" class="carousel-item" [class.active]="i===active">
        <img [src]="img" class="d-block w-100" alt="slide image">
      </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" (click)="prev()">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" (click)="next()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>

    <!-- Indicators -->
    <div class="carousel-indicators" style="bottom: 12px;">
      <button *ngFor="let img of images; let i = index" type="button"
              [class.active]="i===active" (click)="go(i)"></button>
    </div>
  </div>
</div>
