.navbar {
display: flex;
justify-content: space-between;
padding: 15px 40px;
background: #111;
color: #fff;
align-items: center;
}
.navbar a {
color: #fff;
margin-left: 20px;
text-decoration: none;
font-weight: bold;
}
.logo {
font-size: 28px;
font-weight: bold;
letter-spacing: 1px;
}


/* Slider */
.slider {
margin: 20px auto;
width: 90%;
height: 350px;
overflow: hidden;
border-radius: 12px;
display: flex;
}
.slider img {
width: 100%;
animation: slide 10s infinite;
object-fit: cover;
}
@keyframes slide {
0% { transform: translateX(0); }
}